In [14]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras import models
from keras import layers
from sklearn.utils import shuffle
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, confusion_matrix, accuracy_score, classification_report
import matplotlib.pyplot as plt
import scikitplot as skplot
from SwarmPackagePy import ba

In [2]:
df = pd.read_csv('../Datasets/Final_Dataset.csv', index_col=[0])

In [3]:
df.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,gender,jaundice,PDD,Class/ASD,age_range_'12-16 years',age_range_'18 and more',age_range_'4-11 years'
0,1,1,1,1,0,0,1,1,0,0,0,0,0,0,0,1,0
1,1,1,0,1,0,0,0,1,0,1,1,0,1,0,0,1,0
2,1,1,0,1,1,0,1,1,1,1,1,1,1,1,0,1,0
3,1,1,0,1,0,0,1,1,0,1,0,0,1,0,0,1,0
4,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0

In [4]:
df.shape

(1100, 17)

In [5]:
labels = df.pop('Class/ASD')
y = np.array(labels)

In [6]:
X = df.to_numpy()

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42, shuffle=True)

In [8]:
print(f'We have {X_train.shape[0]} train samples')
print(f'We have {X_test.shape[0]} test samples')

We have 880 train samples
We have 220 test samples

In [9]:
network = models.Sequential()
network.add(layers.Dense(units=32, activation='sigmoid', input_shape=(X_train.shape[1],)))
network.add(layers.Dense(units=32, activation='sigmoid'))
network.add(layers.Dense(units=1, activation='sigmoid'))

WARNING:tensorflow:From /Users/rajas/opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /Users/rajas/opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /Users/rajas/opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [10]:
network.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 32)                544
_________________________________________________________________
dense_2 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 33
=================================================================
Total params: 1,633
Trainable params: 1,633
Non-trainable params: 0
_________________________________________________________________

In [11]:
def minimization_function(x):
#     print(len(x))
    layer1_weights = np.array(x[0:512]).reshape(16,32)
    layer1_biases = np.array(x[512:544])
    
    layer2_weights = np.array(x[544:1568]).reshape(32,32)
    layer2_biases = np.array(x[1568:1600])
    
    layer3_weights = np.array(x[1600:1632]).reshape(32,1)
    layer3_biases = np.array(x[1632:1633])
    
    network.layers[0].set_weights([layer1_weights, layer1_biases])
    network.layers[1].set_weights([layer2_weights, layer2_biases])
    network.layers[2].set_weights([layer3_weights, layer3_biases])
    
    cso_predict = network.predict(X_train)    
    return mean_squared_error(y_train, cso_predict)

In [15]:
swarm = ba(60, minimization_function, lb=-10, ub=10, dimension=1633, iteration=100, r0=0.9,
                 V0=0.5, fmin=0, fmax=0.02, alpha=0.9, csi=0.9)

WARNING:tensorflow:From /Users/rajas/opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /Users/rajas/opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /Users/rajas/opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:186: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /Users/rajas/opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:190: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /Users/rajas/opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:199: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /Users/rajas/opt/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:206: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

In [16]:
best_solution = swarm.get_Gbest()

In [17]:
layer1_weights = np.array(best_solution[0:512]).reshape(16,32)
layer1_biases = np.array(best_solution[512:544])

layer2_weights = np.array(best_solution[544:1568]).reshape(32,32)
layer2_biases = np.array(best_solution[1568:1600])

layer3_weights = np.array(best_solution[1600:1632]).reshape(32,1)
layer3_biases = np.array(best_solution[1632:1633])

network.layers[0].set_weights([layer1_weights, layer1_biases])
network.layers[1].set_weights([layer2_weights, layer2_biases])
network.layers[2].set_weights([layer3_weights, layer3_biases])

In [18]:
predictions = network.predict(X_test)

In [19]:
predictions[predictions > 0.5] = 1
predictions[predictions < 0.5] = 0

In [20]:
print("--------------------- RESULTS OF BAT ALGORITHM -----------------------")
print("------------------------------------------------------------------------")
print("Accuracy Score: ", accuracy_score(y_test, predictions))
print("------------------------------------------------------------------------")
print("Mean Squared Error: ", mean_squared_error(y_test, predictions))
print("------------------------------------------------------------------------")
print("Confusion Matrix: \n\n",confusion_matrix(y_test, predictions))
print("------------------------------------------------------------------------")
print("Classification Report: \n\n",classification_report(y_test, predictions))
print("------------------------------------------------------------------------")

--------------------- RESULTS OF BAT ALGORITHM -----------------------
------------------------------------------------------------------------
Accuracy Score:  0.8636363636363636
------------------------------------------------------------------------
Mean Squared Error:  0.13636363636363635
------------------------------------------------------------------------
Confusion Matrix:

 [[129  14]
 [ 16  61]]
------------------------------------------------------------------------
Classification Report:

               precision    recall  f1-score   support

           0       0.89      0.90      0.90       143
           1       0.81      0.79      0.80        77

    accuracy                           0.86       220
   macro avg       0.85      0.85      0.85       220
weighted avg       0.86      0.86      0.86       220

------------------------------------------------------------------------